<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="firfoxtestCase">

		<parameter name="browser" value="firefox"></parameter>
		<classes>

		
			<class name="vadtalTesting.DonationReceiptValidation"></class>
            
		</classes>
	</test>
	<test name="chromeTestCase">

		<parameter name="browser" value="chrome"></parameter>
		<classes>

			
			<class name="vadtalTesting.DonationReceiptValidation"></class>
			

		</classes>
	</test>

</suite> 
